



.nav-links li {
    /* line-height: 8rem; */
    position: relative
}

.sub-menu li {
    line-height: 3.5rem;
    border-bottom: 1px solid white;
}
.new-menu{
    border: 1px solid white;
    color: white;
    padding: .9rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-menu a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid white; */
}


.sub-menu {
    width: 12rem;
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-top: 3px solid var(--main-color);
    background-color: #191919;
    z-index: 100;
    cursor: pointer;
    top: 100%;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    opacity: 0;
    visibility: hidden;
}



.sub-menu .sub-menu {
    border-top: none;
    border-left: 3px solid var(--main-color);
    top: 0;
    left: 160%;
}


.nav-links li:hover>.sub-menu {
    top: 3rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover>.sub-menu {
    top: 0;
    left: 100%;
}

li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
}

@media screen  and (max-width: 900px) {

    .new-menu{
        border: 1px solid black;
        color: black;
        font-weight: bold;
        margin-left: 2rem;
    }
    .sub-menu li{
        border: 0;
        border-top: 1px solid white;
    }
    .sub-menu {
        position: initial;
        /* border: 2px solid transparent; */
        /* margin-left: 1rem; */
        width: 100%;
        /* display: flex; */
        max-height: 0;
        background: rgba(0, 0, 0, 0.5);
     
        overflow: hidden;
        margin-right: 0.4rem;
        padding-right: 1rem;
    }

    .sub-menu a{
        color: white !important;
    }
    .sub-menu .sub-menu {
        border: none;
        overflow: hidden;
        margin-right: 0.4rem;
    }

    .sub-menu::before {
        display: none;
    }
    .nav-links li:focus-within > .sub-menu,
    .nav-links li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

}