.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
   position: fixed;
   top:0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 6rem;
padding: 4rem 9%;
}
.logo-header img{
    width: 14rem;
}
/* .logo-header p{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
} */
.header.colorChange{
    background-color: #000;
}
.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-item li .navlink{
 font-size: 1.7rem;
 margin: 0rem 1rem 0rem 1rem;
 color: var(--text-color);
}
.activeLink{
    color: var(--main-color);
    font-size: 1.7rem;
    margin: 0rem 1rem 0rem 1rem;    
}
.nav-item li .navlink:hover{
    color: var(--main-color);
}
.menu-btn{
    display: none;
}
.menu-icon{
    font-size: 2rem;
    cursor: pointer;
}
@media (max-width:768px) {
    .header{
        flex-direction: row-reverse;
    }
    .nav-item{
        position:fixed;
        left: 120%;
        display: block;
        /* width: 50%; */
        background-color: white;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
    }
    .menu-btn{
        display: block;
    }
    .nav-item li{
        margin-top: 1rem;
    }
    .active-menu{
        position:absolute;
        left: 0rem;
        top:5rem;
        display: flex;
        transition: .4s all;
        /* z-index: 0; */
        display: block;
        overflow-x: auto;
        width: 100%;
        background: rgb(5, 68, 104);
    }
    .navlink{
   display: block;
  text-align: center;
    }
  .activeLink{
    display: block;
   text-align: center;
  
  }
}