/* home section style  */
.home-main-container{
  position: relative;
}
.home-content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    color: white;
    
    }
    .home-left-content{
      margin-top: 3rem;
      /* position: relative; */
    }
    .home-left-content p{
      padding: 1rem 0rem 1rem 0rem;
    }
    .home-left-content h1{
      font-size: 4rem;
      color: white;
      /* margin: 1rem 0rem 1rem 0rem; */
    }
  
    .home-right-content img{
      position: relative;
      z-index: 2;
      /* width:100%; */
      height: 660px;
      left: 7rem;
      top: .4rem;
    }
    
    .start-img-container{
      display: flex;
      align-items: center;
    }
    .home-left-content .star-img{
      /* margin-top: 6rem; */
      margin-left: 1rem;
    }
    
    .btn-container{
      display: flex;
      align-items: center;
      margin-top: 2rem;
    
    }
    
    .apt-btn{
      background-color: var(--btn-color);
      border: 1px solid #dbdbdd;
    }
    .apt-btn:hover{
      transition: .4s all linear;
      background-color: transparent;
      color: white;
      border: 1px solid #dbdbdd;
    }
    .prev-btn{
      background-color: transparent;
      color: white;
      display: flex;
      align-items: center;
      border: 1.5px solid white !important;
      margin-left: 3rem;
    }
    .prev-btn:hover{
      transition: .4s all linear;
      background-color:var(--btn-color);
      color: black;
      border: 1px solid #dbdbdd;
    }
    .fa-arrow-right{
      margin-left: .5rem;
    }
    .element-box{
      background-color:#bf9020;
      width: 71%;
      position: absolute;
      top: 82.9%;
      height: 115px;
      padding-top: .7rem;
      z-index: 1;
    }
    .mid-img{
      width: 80px !important;
    }
    .element-box-body{
      display: flex;
      width: 74%;
      align-items: center;
      margin: auto;
      justify-content: space-between;
    }
    
    .icon-heart-box img{
      width: 90px;
      color: black;
      /* mix-blend-mode: color-burn; */
      /* margin-top: 1.5rem; */
    }

    @media (max-width:1200px) {
      .home-left-content{
   margin: 0;
      }
      .home-left-content h1{
        font-size: 3rem;
      }
      .home-right-content img{
        position: static;
        height: auto;
      }
      .element-box{
        position: static;
        width: 100%;
        bottom: 0;
      }
    }

    @media (max-width:768px) {
      .home-content{
        flex-direction: column;
      }
      .home-left-content{
        width: 100%;
      }
      .home-left-content h1{
        font-size: 2rem;
      }
      .home-right-content{
        width: 100%;
        margin-top: 3rem;
      }
      .home-right-content img{
        position: static;
        height: auto;
        width: 100%;
      }
      .element-box{
        height: auto;
      }
      .element-box-body{
        width: 100%;
      }
    }