
/* /////////////////// */
.wrapper-1{
    /* display: flex; */
    align-items: center;
    background-color: white;
    width: 30%;
    height: 30px;
    padding: 1rem;
    color: black;
    border-radius: 2px;
    margin-top: 4rem;
    
  }
  
  .content-1{
    background-color: green;
    /* width: 15%; */
    min-width: 280px;
    top: 19rem;
    left: 18.5rem;
    height: 120px;
    text-align: center;
   
    box-shadow: 1px 2px 1px 1px limegreen;
    position: absolute;
   border-radius: 2px;
  }
  .content-flex{
    display: flex;
  }
  .content-1 p{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    margin-top: 5rem;
    margin-left: 14rem;
  }
  
  
  /* /////////////////////////////// */
  .content-1 {
      animation: swing ease-in-out 2s infinite alternate;
      transform-origin: center -20px;
      transition: .4s all;
      float:left;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  
   
  .content-1:after{
    content: '';
    position: absolute;  
    width: 30px; height: 30px;  
    border: 2px solid #999;
    top: -10px; left: 45%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
  }
  /* nail */
  .content-1:before{
    content: '';
    position: absolute;
    width: 10px; height: 10px;
    top: -21px;left: 49%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
  }
  
  .heart {
    position: relative;
    
  }
    .heart::before,
    .heart:after {
      position: absolute;
      content: '';
      left: 60px;
      top: 2rem;
      width: 60px;
      height: 90px;
      background: #323946;
      border-radius: 60px 60px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
  
    .heart::after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
    .blog-desc{
      color: #000;
     padding-bottom: 3rem;
    }
  
    .blog-desc h1{
      font-size: 3rem;
    }

    .blog-desc-container{
      display: flex;
      color: black;
      justify-content: space-between;
      /* align-items: center; */
      /* align-items: center; */
    }
    .blog-desc-left{
      width: 75%;
    
    }
    .blog-desc-left h1{
      text-align: center;
    }
    .bg-para{
      text-align: center !important;
    }
    .blog-desc-left img{
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .blog-desc-right{
      width: 20%;
      margin-top: 4rem;
    }
    .blog-desc-right-content img{
      width: 100px;
      height: 100px;
    }
    .blog-desc-right-content{
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid #dbdbdb;
      padding: 1rem 0 1rem 0;
    }
    .blog-right-footer p{
  margin-top: 1rem;
  font-size: .8rem;
    }
    .blog-insta-container{
      padding: 2rem 0 1rem 0;
    }
    .blog-insta-container h2{
      font-size: 1.3rem;
      font-weight: bold;
    }
    .blog-insta{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      margin-top: .5rem;
    }
    .blog-insta-img{
      width: 28%;
    }
    .blog-insta-img img{
      width: 80px;
    }
    @media (max-width:768px) {
      .blog-desc-container{
        flex-direction: column;
      }
      .blog-desc-left{
        width: 100%;
      }
     .blog-desc-right{
      width: 100%;
     }
    }