
    .blog-desc{
      color: #000;
     padding-bottom: 3rem;
    }
    .head-blog{
      color: #bf9020;
      font-size: 1.5rem;
      margin-top: 2rem;
      font-weight: bold;
    }
    .head-blog-para{
      padding: 1rem 0 1rem 0;
      font-size: 1rem;
      line-height: 1.4rem;
      font-weight: 600;
    }
  
    .blog-desc h1{
      font-size: 3rem;
    }
    
    ol{
      margin-left: 1rem;
    }
    ol li{
      font-weight: 600;
    }
ol li+li{
  margin-top: 1rem;
}
    .blog-desc-container{
      display: flex;
      color: black;
      justify-content: space-between;
      /* align-items: center; */
      /* align-items: center; */
    }
    .blog-desc-left ul{
      margin-left: 1rem;
    }
    .blog-desc-left ul li{
     font-size: 1rem;
     font-weight: 600;
    }
    .blog-desc-left ul li+li{
      margin-top: .5rem;
    }
    .new-b-para{
      margin-top: 1rem;
    }
    .span-para{
      padding: 1rem 0 1rem 0 !important;
      font-weight: 600;
    }
   
    .blog-desc-left img{
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .blog-desc-right{
      width: 20%;
      margin-top: 4rem;
    }
    .blog-desc-right-content img{
      width: 100px;
      height: 100px;
    }
    .blog-desc-right-content{
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid #dbdbdb;
      padding: 1rem 0 1rem 0;
    }
    .blog-right-footer p{
  margin-top: 1rem;
  font-size: .8rem;
    }
    .blog-insta-container{
      padding: 2rem 0 1rem 0;
    }
    .blog-insta-container h2{
      font-size: 1.3rem;
      font-weight: bold;
    }
    .blog-insta{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      margin-top: .5rem;
    }
    .blog-insta-img{
      width: 28%;
    }
    .blog-insta-img img{
      width: 80px;
    }
    @media (max-width:768px) {
      .blog-desc-container{
        flex-direction: column;
      }
      .blog-desc-left{
        width: 100%;
      }
     .blog-desc-right{
      width: 100%;
     }
    }