.contact-container{
    background-color: white;
    color: black;
}
.contact-container-content{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem 3rem 0rem;
    /* width: 82%; */
    margin: 0 auto;
}
.contact-left{
    width: 50%;
    padding-right: 1rem;
    border-right: 1px solid #dbdbdb;
}
.contact-right{
    width: 49%;
}
.contact-right p{
    font-weight: 550;
}
.contact-input-container{
    display: flex;
    justify-content: space-between;
}
.contact-input-field{
    width: 48%;
}
.contact-head{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.contact-head h1{
    /* font-size: 1.5rem; */
    width: 70%;
    font-weight: bold;
    font-size: 1.9rem;
}
.contact-head::after{
    content: "";
    border-bottom: 1px solid #dbdbdb;
    width: 55%;
}
.contact-head-fre{
    display: flex;
    align-items: center;
}
.contact-head-fre h1{
    width: 100%;
    font-weight: bold;
    font-size: 1.9rem;
}
.border{
    border-bottom: 1px solid #dbdbdb !important;
    width: 10%;
}
.contact-input-field-1{
    width: 100%;
    margin-top: 2rem;
}
label{
    font-size: 1rem;
    font-weight: 600;
}
.contact-bold{
    font-weight: bold;
    
}

.contact-footer{
    margin-top: 3rem;
    
}
.contact-footer p{
    color: #bf9020;
    font-weight: bold;
}
.contact-input-field input,textarea{
    width: 100%;
    border: 2px solid #dbdbdb;
    padding: .8rem;
    outline: none;
    margin-top: .3rem;
    font-size: 1rem;
}
.contact-input-field:nth-child(n){
    margin-top: 2rem;
}
.contact-btn-container{
    margin-top: 3rem;
}
.contact-lorem{
    padding: 2rem 0 2rem 0;
}
.contact-address-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-img-flex{
    width: 40%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
}
@media (max-width:768px) {
    .contact-container-content{
        flex-direction: column;
    }
    .contact-left{
        width: 100%;
    }
    .contact-input-container{
        flex-direction: column;
    }
    .contact-input-field{
        width: 100%;
    }
    .contact-right{
        width: 100%;
        margin-top: 1rem;
    }
    .contact-head h1{
        width: 100%;
        font-size: 1.5rem;
    }
    .contact-head-fre h1{
        width: 100%;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .contact-address-flex{
        flex-direction: column;
        gap: 0;
    }
    .contact-img-flex{
  gap: 0;
        width: 100%;
    }
}