
.wish-heading h1{
/* text-align: center; */
font-size: 3rem;
margin-top: 2rem;
color: #000;
}
.shop-category-container{
    display: flex;
    gap: 2rem;
    padding: 3rem 0 3rem 0;
    /* justify-content: space-between; */
  }
.snip1571 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* margin: 10px; */
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  position: relative;
  text-align: center;
  width: 100%;
}
.snip1571 *,
.snip1571 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1571 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.snip1571 figcaption {
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 0;
}
.snip1571 figcaption:before {
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: -1;
}
.snip1571 h3 {
  background-color: #bf9020;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  z-index: 1;
}
.snip1571 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1571:hover > img,
.snip1571.hover > img {
  opacity: 0.1;
}
.snip1571:hover figcaption:before,
.snip1571.hover figcaption:before {
  right: -5px;
}

/* product style  */


.wish-head{
    color: #000;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    border-top: 2px solid #dbdbdb;  
    border-bottom: 2px solid #dbdbdb;
}



/**
* DATE
**/


.all-p-btn{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.price{
  color: #000;
  font-style: italic;
  font-weight: bold;
}


.icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    font-size: 18px;
}

.icon+.icon {
    padding-left: 10px;
}

@media (max-width:768px) {
  .shop-category-container{
    flex-direction: column;
    justify-content: space-between;
  }

  .snip1571{
    max-width: 100%;
    min-width: 100%;
    /* width: 100%; */
  }
  .card{
    width: 100%;
  }
  .card__thumb{
    width: 100%;
    /* height: auto; */
  }
  .card__thumb img{
    width: 100%;
    /* height: auto; */
  }
  .product-container{
    flex-direction: column;
    gap: 2rem;
}
.card__title{
  font-size: 16px;
  padding: 0;
}
.card__description{

}
}