 /* portfolio css  */
 .portfolio{
    background-color: var(--second-bg-color);
  }
  .portfolio h2{
    margin-bottom: 4rem;
    font-size: 3.2rem;
    text-align: center;
  }
  .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
  }
  .portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 26rem;
  }
  .portfolio-box img{
    width: 100%;
    cursor: pointer;
    transition: .5s ease;
  }
  .portfolio-box:hover img{
    transform: scale(1.1);
  }
  .portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }
  .portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
  }
  .portfolio-layer h4{
    font-size: 3rem;
  }
  .portfolio-layer p{
    color: black;
    font-size: 1.6rem;
    margin: .3rem 0rem 1rem;
  }
  .portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-color);
    border-radius: 50%;
  }
  .portfolio-layer a .icon{
    font-size: 2rem;
    color: var(--second-bg-color);
  }
  @media (max-width:768px) {
    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio-box .portfolio-layer{
        padding: 0rem 4rem 1rem 4rem;
    }
    .portfolio-layer a{
        width: 2rem;
        height: 4rem;
        background-color: transparent;
      }
  }