.footer{
    background-color: var(--btn-color);
    color: black;
    padding: 2rem 0rem 2rem 0rem;
  }
  .footer-img img{
    width: 200px;
  }
  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-icon{
      display: flex;
      align-items: center;
      gap: 2rem;
  }
  .social-icon i{
      font-size: 2rem;
      margin-top: 2rem;
  }
  .social-icon a:nth-child(1){
      color: 	#1877F2;
  }
  .social-icon a:nth-child(2){
      color: #CD201F;
  }
  .social-icon a:nth-child(3){
      color:#cd486b;
  }
  
  .footer-card{
    width: 70%;
    margin-left: 2rem;
  }
  .footer-card h1{
    color: black;
    
  }
  .footer-menu{
  display: flex;
  width: 40%;
  color: black;
  justify-content: space-between;
  
  }
  .footer-menu ul li{
    list-style: none;
    /* display: inline-block; */
    margin-top: 1rem;
    /* margin-bottom: auto; */
  }
  .footer-menu ul li a{
  color: black;
  text-decoration: none;
  
  }

  @media (max-width:768px) {
    
  .footer-container{
    flex-direction: column;
  }
  .footer-card{
    width: 100%;
    margin: 0;
    padding-bottom: 2rem;
  }
  .footer-card h1{
font-size: 1rem;
  }
  .footer-menu{
    width: 100%;
  }
  }