.about-container{
    padding: 8rem 0 8rem 0;
    /* display: flex; */
   position: relative;
  }
  .about-left{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .aboot-new-content{
    width: 50%;
  }
  .one-img-container{
    width: 45%;
  }
   .one-img{
    height: 700px;
  width: 100%;
  display: block;
  }
  .about-second-img img{
    width: 100%;
    display: block;
    height: 550px;
    /* margin-top: 6rem; */
  }
  .about-right{
    width: 45%;
    position: absolute;
    bottom: 10rem;
  }
  
  .watch-btn{
    padding: 4rem 0 4rem 0;
  }
  
  .watch:hover{
    transition: .4s all linear;
    background-color: transparent;
    color: white;
    border: 1px solid #dbdbdd;
  }
 
  .about-right a{
    color: #bf9020;
    font-weight: bold;
  }
  
  @media (max-width:1200px) {
    .about-container{
      flex-direction: column;
      /* flex-direction: column-reverse; */
    }
    .about-left img{
      width: 100%;
      height: auto;
    }
    .about-left-heading{
      font-size: 2rem;
    }
    .about-right h1{
      font-size: 2rem;
    }
    .about-right{
      margin-top: 2rem;
      margin-left: 0;
    }
  }
  @media (max-width:768px) {
    
    .about-left{
      flex-direction: column;
      /* flex-direction: column-reverse; */
    }
    .about-left-heading{
      margin-top: 2rem;
    }
    .watch-btn{
      padding: 3rem 0 3rem 0;
    }
    .one-img{
      height: auto;
    width: 100%;
    display: block;
    }
    .about-second-img img{
      width: 100%;
      display: block;
      height: auto;
      /* margin-top: 6rem; */
    }
    .aboot-new-content{
      width: 100%;
    }
    .one-img-container{
      width: 100%;
    }
    .about-right{
   position: static;
   width: 100%;
    }
  }